<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log_path" value="./logs"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log message format -->
        <encoder>
            <pattern>%date{yyyy-MM-dd} %d{HH:mm:ss.SSS} %level %line [%thread] %logger{36} : %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ERROR_COLLECTING"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/idex_bs_service_error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${log_path}/idex_bs_service_error.%d{yyyy-MM-dd}.%i.gz
            </fileNamePattern>
            <maxHistory>300</maxHistory>
            <MaxFileSize>2MB</MaxFileSize>
        </rollingPolicy>

        <encoder>
            <pattern>%date{yyyy-MM-dd} %d{HH:mm:ss.SSS} %level %line [%thread] %logger{36} : %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="ERROR_COLLECTING"/>
    </root>

</configuration>
